@import "tailwindcss";

.slick-slide > div {
  margin: 0 10px;
}
/* Target the dots */
.slick-dots li button:before {
  font-size: 12px; /* Change dot size */
  color: #ffffff;  /* Change inactive dot color */
  opacity: 0.5;    /* Make inactive dots slightly transparent */
}

/* Active dot */
.slick-dots li.slick-active button:before {
  color: #facc15; /* Yellow for active dot */
  opacity: 1;     /* Fully visible */
}